@import "../../global.scss";

ion-item{
    background-color: $color-back-ground;
    color: $color-letters;
}
.login{
    background-color:$color-buttons;
}

.google{
    background-color: $color-google;
}