<ion-content color="primary" padding>
  <form #form="ngForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Destino Seguro</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="Correo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Clave"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button class="login" size="large" type="submit" [disabled]="form.invalid" expand="block">Iniciar sesión</ion-button>
          </div>
          <div padding>
            <ion-button color="danger" size="large" (click)="loginwithGoogle() " expand="block">Iniciar con Google</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
